<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hama.alsaygh.kw.vendor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".app.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.HamaVendor"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".view.gongrats.GongratsActivity"
            android:exported="false" />
        <activity
            android:name=".view.marketPrice.MarketPriceActivity"
            android:exported="false" />
        <activity
            android:name=".view.notification.NotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".view.order.orderDetails.OrderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".view.products.addProduct.AddEditProductActivity"
            android:exported="false" />
        <activity
            android:name=".view.rateHama.RateHamaActivity"
            android:exported="false" />
        <activity
            android:name=".view.recommendation.RecommendationActivity"
            android:exported="false" />
        <activity
            android:name=".view.contactUs.ContactUsActivity"
            android:exported="false" />
        <activity
            android:name=".view.appointment.AppointmentBookingActivity"
            android:exported="false" />
        <activity
            android:name=".view.terms.TermsActivity"
            android:exported="false" />
        <activity
            android:name=".view.generalSettings.changePassword.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".view.generalSettings.notification.NotificationSettingActivity"
            android:exported="false" />
        <activity
            android:name=".view.generalSettings.language.LanguageActivity"
            android:exported="false" />
        <activity
            android:name=".view.generalSettings.GeneralSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".view.auth.forgetPassword.ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.onBoading.OnBoardingActivity" />
        <activity android:name=".view.auth.login.LoginActivity" />
        <activity android:name=".view.auth.register.RegisterActivity" />
        <activity android:name=".view.auth.mobileVerification.MobileVerificationActivity" />
        <activity android:name=".view.auth.resetPassword.EnterNewPasswordActivity" />
        <activity android:name=".view.home.HomeActivity" />

        <service
            android:name=".firebase.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/textviewhome" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/key_api_google" />
    </application>

</manifest>